@import "mobile";
header{
    position: sticky;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 80px;
     background-color:#434CCC;
     color: #FFFFFF4D;
    .navbar{
        height: 100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;    
        .logo{
            width: 102px;
            /* // height: 48px; */
            color: white;
            img{
                width: 100%;
            }
        }

        .menu-button{
            display: none;
            
        }
        @media all and (max-width:$mobile){
            .menu-button{
                height: 14px;
                display:block;
                width: 20px;
                color: #FFFFFF;
                
            }
            .nav-list{
             display:none;
            }
        }

    }
         .nav-list{
          display: flex;
          justify-content:end;
          align-items: center;
        /* //   width:65%;
          height: 100%;
        //   gap:35px;
        //  border: 2px solid green; */
          .list{
            /* // width: 100%;
                //  border: 2px solid white; */
                list-style-type:none;
                display: flex;
                flex-direction: row;
                justify-content: end;
                align-items: center;
                gap:35px;
                height: 100%;
                li{
                    /* // border:2px solid black; */
                    a{
                     height: 24px;
                    font-family:DM Sans;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: right;
                    text-decoration: none;
                    color: white;
                   }
                    
                 button{
            width: 170px;
            height: 48px;
           border-radius: 5px;
           border: 2px solid rgba(255, 255, 255, 0.30);
           color: #FFF;
           text-align: center;
           font-family: DM Sans;
           font-size: 16px;
           font-style: normal;
           font-weight: 700;
           line-height: 24px; 
           background-color: #434CCC;
        }
                }
            
        }
       
      
    
         }
          
        }


          /* -----------------contect------------ */

          .contact{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
             width: 100%;
             background-color:#434CCC;
             h1{
             
                width: 249px;
                height: 80px;
                color:#FFFFFF;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; 
             }
             p{
                color:#FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    margin-bottom:55px;
    font-family: DM Sans;

             }
        }