@import "mobile.scss";
@import "paragraph.scss";

* {
    margin: 0;
}

.footer-1 {
    margin-top: 5rem;
    background-color: #FFDD78;

    >.box {
        width: 80%;
        height: 352px;
        flex-shrink: 0;
        display: flex;
        margin: auto;
        justify-content: space-between;

        @media all and (max-width:$mobile) {
            flex-direction: column;
            justify-content: normal;
            gap: 20px;
            width: 80%;
            height: 480px;

        }

        >.box-1 {
            >h5 {
                color: black;
                font-family: 'DM Sans', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 4.8px;
                margin-top: 79px;

                 
            }

            >h2 {
                margin-top: 21px;
                height: 128px;
                width: 90%;
                font-family: DM Serif Display;
                font-size: 2em;
                font-style: normal;
                font-weight: 400;
                margin-top: 21px;

                @media all and (max-width:$mobile) {
                    width: 209px;
                    height: 144px; 
                    font-family: DM Serif Display;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                }
            }
        }


        >.inp {
            margin-top: 132px;
            width: 30%;
            flex-shrink: 0;

            @media all and (max-width:$mobile) {
                width: 80%; 
                margin-top: 10px;
            }

            input {
                width: 80%;
                height: 48px;
                border-radius: 5px;
                margin-top: 28px;
                border: 1px solid #DADADA;
                background: #FFF;
                padding-left: 16px;

                @media all and (max-width:$mobile) {
                    width: 80%;
                }

                ::placeholder {
                    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
                    font-family: DM Sans;
                    font-size: 2em;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }

            }


        }

        >.button {
            width: 120px;
            height: 48px;
            flex-shrink: 0;
            border-radius: 5px;
            color: white;
            border-radius: 5px;
            background-color: #434CCC;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFF;
            text-align: center;
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-top: 160px;

            @media all and (max-width:$mobile) { 
                margin-top: 16px;
            }
        }
    }
}

.footer-2 {
    background-color: #F5F6Fc;
    width: 100%;
    height: 400px;
    flex-shrink: 0;

    @media all and (max-width:$mobile) {
        width: 80%;
        margin: auto;
        height: 896px;
        flex-shrink: 0;
    }

    #div-1 {
        display: flex;
        width: 80%;
        gap: 5%;
        margin: auto;
        justify-content: space-between;

        @media all and (max-width:$mobile) {
            display: flex; 
            width: 100%;
            flex-direction: column;
        }

        >#div-1-1 {
            width: 33%;

            @media all and (max-width:$mobile) {
                width: 100%;
            }

            >div:nth-child(1) {
                color: var(--Text_Black, #000);
                font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                margin-top: 72px;
            }

            >div:nth-child(2) {
                @include paragraph();
                margin-top: 23px;
                font-size: 1em;
                width: 100%;
                flex-shrink: 0;
            }

            >div:nth-child(3) {
                display: flex;
                gap: 13px;
                margin-top: 16px;
            }
        }

        #div-1-2 {
            display: flex;
            gap: 20px;
            width: 33%;
            justify-content: space-around;

            @media all and (max-width:$mobile) {
                display: flex;
                width: 50%;
                justify-content: start;

            }

            >div:nth-child(1),
            >div:nth-child(2) {
                margin-top: 67px;

                @media all and (max-width:$mobile) {
                    margin: 80px 120px 0 0;

                }

                >div:nth-child(1) {
                    color: var(--Text_Black, #000);
                    font-family: DM Sans;
                    font-size: 1em;
                    font-style: normal;
                    font-weight: 700;
                    margin-bottom: 16px;
                    // line-height: 24px;
                }

                >div {
                    @include paragraph;
                    font-size: 1em;
                    margin-top: 8px;
                }
            }
        }

        >#div-1-3 {
            display: flex;
            flex-direction: column;
            margin-top: 79px;
            width: 33%;
            gap: 40px;

            @media all and (max-width:$mobile) {
                width: 100%;
            }

            >div {
                display: flex;
                gap: 20px;

                @media all and (max-width:$mobile) {
                    margin-left: 0;
                }

                >img {
                    border-radius: 5px;
                    width: 78px;
                    height: 48px;
                }

                >div {
                    width: 100%;

                    >div:nth-child(1) {
                        @include paragraph;
                        width: 100%;
                    }

                    >div:nth-child(2) {
                        margin-top: 1px;
                        color: var(--Text_Black, #000);
                        font-family: DM Sans;
                        font-size: 1em;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }
            }
        }
    }

    >div:nth-child(2) {
        width: 100%;
        height: 1px;
        flex-shrink: 0;
        opacity: 0.0989;
        background: #000;
        margin-top: 55px;

        @media all and (max-width:$mobile) {
            width: 125%;
            margin-left: -40px;
        }
    }

    >div:nth-child(3) {
        padding: 30px 135px;
        display: flex;
        justify-content: space-between;
        @include paragraph;

        @media all and (max-width:$mobile) {
            flex-direction: column;
            gap: 8px;
            margin: 0;
            padding: 14px;
        }
    }

}