@mixin paragraph(){
    color: var(--text-black-50, rgba(0, 0, 0, 0.50));
     
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
}