* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.R-cont {
  height: 480px;
  width: 100%;
  background-color: #434ccc;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 29px;
}
.R-cont h2 {
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  color: white;
  text-align: center;
}
.R-cont .dp {
  width: 45%;
}
.R-cont p {
  color: white;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.R-cont .R-text2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 165px;
  color: white;
  text-align: center;
  font-family: "DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.R-cont .R-text2 div {
  display: flex;
  flex-direction: column;
}
.R-cont .R-text2 div h1 {
  color: white;
  text-align: center;
  font-family: " DM Serif Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  transition: transform 0.3 ease-in-out;
}
.R-cont .R-text2 div h1:hover {
  transform: scale(1.2);
}
.R-cont .R-text2 div p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.R-cont2 {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 83px;
  margin-top: 111px;
}
.R-cont2 .box1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 21px;
}
.R-cont2 .box1 h5 {
  color: black;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.R-cont2 .box1 h2 {
  color: black;
  font-family: "DM Serif Display";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}
.R-cont2 .box1 div {
  width: 338px;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.R-cont2 .box1 div article {
  color: black;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.R-cont2 .box1 #R-but {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  color: #434CCC;
  border-radius: 5px;
  border: 1px solid #434CCC;
  transition: transform 0.3 ease-in-out;
}
.R-cont2 .box1 #R-but:hover {
  transform: scale(1.2);
}
.R-cont2 .box2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.R-cont2 .box2 .R-inbox div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.R-cont2 .box2 .R-inbox div img {
  width: 52px;
  height: 45px;
  flex-shrink: 0;
  transition: transform 0.3 ease-in-out;
}
.R-cont2 .box2 .R-inbox div img:hover {
  transform: scale(1.5);
}
.R-cont2 .box2 .R-inbox div h4 {
  color: black;
  font-family: " DM Serif Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.R-cont2 .box2 .R-inbox .inbox2 {
  width: 270px;
  height: 80px;
  flex-shrink: 0;
}
.R-cont2 .box2 .R-inbox .inbox2 p {
  color: black;
  font-family: " DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

@media all and (min-width: 100px) and (max-width: 375px) {
  .R-cont {
    height: 896px;
    gap: 31px;
  }
  .R-cont h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
  .R-cont .dp {
    width: 90%;
  }
  .R-cont .R-text2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .R-cont .R-text2 div {
    width: 100%;
    flex-direction: column;
    gap: 40px;
  }
  .R-cont .R-text2 div h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
  }
  .R-cont .R-text2 div p {
    font-size: 16px;
  }
  .R-cont .R-text {
    width: 346px;
    height: 103px;
    flex-shrink: 0;
  }
  .R-cont2 {
    flex-direction: column;
  }
  .R-cont2 .box1 h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
  .R-cont2 .box1 div {
    width: 346px;
    height: 230px;
    flex-shrink: 0;
  }
  .R-cont2 .box2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.N-main {
  background: #f0f8ff;
}
.N-main .N-head h2 {
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.N-main .N-head p {
  text-align: center;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 36px;
}
.N-main .N-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 30px;
}
.N-main .N-cards .N-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 370px;
  height: 416px;
  border-radius: 5px;
  padding-left: 20px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.N-main .N-cards .N-card .N-hr {
  align-self: flex-end;
  width: 100%;
  height: 1px;
  opacity: 0.1011;
  background: #000;
}
.N-main .N-cards .N-card .N-box {
  width: 132px;
  height: 114px;
  align-self: center;
}
.N-main .N-cards .N-card .N-fh {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 25px;
}
.N-main .N-cards .N-card .N-fh h4 {
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-top: 54px;
}
.N-main .N-cards .N-card .N-fh p {
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -15px;
}
.N-main .N-cards .N-card .N-fh .N-hr {
  width: 338px;
  height: 1px;
  opacity: 0.1011;
  background: #000;
  margin-top: 25px;
  margin-bottom: 18px;
}
.N-main .N-cards .N-card .N-foot {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.N-main .N-cards .N-card .N-foot p {
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.N-main .N-cards .N-card .N-foot img {
  width: 6px;
  height: 11px;
  fill: #000000;
}
.N-main .N-card:hover {
  transform: scale(1.08);
}

@media all and (max-width: 375px) {
  .N-cards {
    flex-direction: column;
  }
  .N-cards .N-card {
    width: 100%;
  }
  .N-main {
    margin: auto;
  }
  .N-main .N-head h2 {
    font-size: 40px;
    line-height: 48px; /* 120% */
  }
}
.nmn {
  width: 100%;
  background: #f0f8ff;
}
.nmn .npr {
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 80%;
  gap: 15px;
}
.nmn .npr .n-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  line-height: 32px; /* 160% */
  margin-top: 50px;
}
.nmn .npr .n-left h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.nmn .npr .n-left h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.nmn .npr .n-left .ndis {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.nmn .npr .n-left .niconen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.nmn .npr .n-left .niconen p {
  color: gray;
  font-family: "DM Sans";
  display: flex;
  align-content: start;
  align-items: center;
  gap: 23px;
}
.nmn .npr .n-left .niconen p svg {
  transition: 1s;
}
.nmn .npr .n-left .niconen p svg:hover {
  transform: rotate(359deg);
}
.nmn .npr .n-left .nbtn {
  display: flex;
  gap: 30px;
  margin-top: 49px;
  font-family: "DM Sans Display";
  transition: 0.5s;
}
.nmn .npr .n-left .nbtn .nb1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 5px;
  background-color: #434CCC;
  color: #fff;
  width: 170px;
  height: 48px;
  border: none;
}
.nmn .npr .n-left .nbtn .nb2 {
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid rgba(67, 76, 204, 0.2);
  color: #434CCC;
  border-radius: 5px;
  width: 170px;
  height: 48px;
}
.nmn .npr .n-left .nb1:hover {
  transform: scale(1.15);
}
.nmn .npr .n-left .nb2:hover {
  transform: scale(1.15);
}
.nmn .npr .n-right {
  width: 700px;
  height: 580px;
}
.nmn .npr .n-right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 375px) {
  .npr {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .npr .n-left {
    width: 100%;
    margin-left: -25px;
  }
  .npr .n-right {
    width: 100%;
  }
  .npr .n-right img {
    margin-left: -170px;
  }
  .npr .nbtn {
    margin: auto;
    display: flex;
    gap: 5px;
  }
  .npr .nbtn .nb1 {
    height: 60px;
    width: 60px;
    font-weight: 200;
    line-height: normal;
  }
  .npr .nbtn .nb2 {
    height: 60px;
    width: 60px;
    font-weight: 200;
    line-height: normal;
    margin-left: -25px;
  }
}
.s_top {
  width: 100%;
  height: 767px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.s_top .s_tright {
  align-self: center;
}
.s_top .s_tright h5 {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 400;
  margin-bottom: 21px;
  letter-spacing: 8px;
}
.s_top .s_tright h2 {
  font-size: 56px;
  font-family: DM Serif Display;
  font-weight: 400;
  line-height: 64px;
  margin-bottom: 29px;
  height: 128px;
}
.s_top .s_tright p {
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  height: 103px;
  line-height: 32px;
}
.s_top .s_tright button {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 700;
  line-height: 24px;
  background-color: #434ccc;
  color: #ffffff;
  margin-top: 32px;
  padding: 11px 43.5px 13px 43.5px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
}

.s_bottom {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
}
.s_bottom .s_bleft {
  height: auto;
  width: 45%;
  padding: 150px 10px 250px 100px;
}
.s_bottom .s_bleft h5 {
  font-size: 16px;
  font-family: DM Sans;
  font-weight: 400;
  margin-bottom: -21px;
  letter-spacing: 8px;
}
.s_bottom .s_bleft h2 {
  font-size: 56px;
  font-family: DM Serif Display;
  font-weight: 400;
  margin-top: 32px;
}
.s_bottom .s_bleft .s_range1 {
  margin-top: 30px;
}
.s_bottom .s_bleft .s_range1 .s_font1 {
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.s_bottom .s_bleft .s_range1 .s_rbox1 {
  width: 100%;
  background-color: rgb(238, 238, 238);
}
.s_bottom .s_bleft .s_range1 .s_rbox1 .s_col1 {
  width: 85%;
  height: 10px;
  background-color: #f1b505;
}
.s_bottom .s_bleft .s_range2 {
  margin-top: 31px;
}
.s_bottom .s_bleft .s_range2 .s_font2 {
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.s_bottom .s_bleft .s_range2 .s_rbox2 {
  width: 100%;
  height: 10px;
  background-color: rgb(238, 238, 238);
}
.s_bottom .s_bleft .s_range2 .s_rbox2 .s_col2 {
  width: 73%;
  height: 10px;
  background-color: #e94a47;
}
.s_bottom .s_bleft .s_range3 {
  margin-top: 31px;
}
.s_bottom .s_bleft .s_range3 .s_font3 {
  font-size: 20px;
  font-family: DM Sans;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}
.s_bottom .s_bleft .s_range3 .s_rbox3 {
  width: 100%;
  height: 10px;
  background-color: rgb(238, 238, 238);
}
.s_bottom .s_bleft .s_range3 .s_rbox3 .s_col3 {
  width: 42%;
  height: 10px;
  background-color: #428dfc;
}
.s_bottom .s_bimg {
  max-width: 100%;
  margin: auto;
}
.s_bottom .s_bimg img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 375px) {
  .s_top {
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .s_top img {
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .s_top .s_tright {
    margin: auto;
    max-width: 100%;
    padding: 20px;
  }
  .s_top .s_tright h5 {
    margin-top: 10px;
  }
  .s_top .s_tright h2 {
    font-size: 40px;
    margin-top: 20px;
  }
  .s_top .s_tright p {
    font-size: 20px;
    line-height: 32px;
  }
  .s_top .s_tright button {
    margin-top: 80px;
  }
  .s_bottom {
    max-width: 100%;
    flex-direction: column;
  }
  .s_bottom .s_bleft {
    width: 90%;
    padding: 50px 0px 0px 20px;
  }
  .s_bottom .s_bleft h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .s_bottom .s_bleft h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
  }
  .s_bottom .s_bleft .s_com {
    max-width: 100%;
    margin-top: 30px;
  }
  .s_bottom .s.bimg {
    max-width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec2 {
  background-color: #f0f8ff;
}
.sec2 .pr {
  display: flex;
  justify-content: start;
  width: 80%;
  margin: auto;
}
.sec2 .pr .h-left {
  margin-top: 10px;
  max-width: 40%;
  margin: auto;
}
.sec2 .pr .h-left h5 {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: left;
  text-transform: uppercase;
}
.sec2 .pr .h-left h2 {
  margin-bottom: 10px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .dis {
  color: #000000;
  margin-bottom: 10px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .numb {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  gap: 30px;
}
.sec2 .pr .h-left .numb div {
  margin-top: 10px;
}
.sec2 .pr .h-left .numb div h3 {
  margin-top: 10px;
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .numb div h4 {
  margin-top: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .numb div p {
  margin-top: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: gray;
}
.sec2 .pr .h-right {
  max-width: 65%;
  margin: auto;
}
.sec2 .pr .h-right img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
@media all and (max-width: 375px) {
  .sec2 .pr {
    flex-direction: column;
    max-width: 100%;
    margin: auto;
  }
  .sec2 .pr .h-left {
    max-width: 100%;
  }
  .sec2 .pr .h-left h5 {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-align: left;
  }
  .sec2 .pr .h-left h2 {
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .dis {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .numb {
    flex-direction: column;
  }
  .sec2 .pr .h-left .numb div {
    width: 80%;
  }
  .sec2 .pr .h-left .numb div h3 {
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .numb div h4 {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .numb div p {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-right {
    max-width: 100%;
    margin: auto;
  }
  .sec2 .pr .h-right img {
    width: 647px;
    height: 431px;
    top: 940px;
    left: -138px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

header {
  position: sticky;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #434CCC;
  color: rgba(255, 255, 255, 0.3019607843);
}
header .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
header .navbar .logo {
  width: 102px;
  /* // height: 48px; */
  color: white;
}
header .navbar .logo img {
  width: 100%;
}
header .navbar .menu-button {
  display: none;
}
@media all and (max-width: 375px) {
  header .navbar .menu-button {
    height: 14px;
    display: block;
    width: 20px;
    color: #FFFFFF;
  }
  header .navbar .nav-list {
    display: none;
  }
}
header .nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  /* //   width:65%;
    height: 100%;
  //   gap:35px;
  //  border: 2px solid green; */
}
header .nav-list .list {
  /* // width: 100%;
      //  border: 2px solid white; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 35px;
  height: 100%;
}
header .nav-list .list li {
  /* // border:2px solid black; */
}
header .nav-list .list li a {
  height: 24px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: none;
  color: white;
}
header .nav-list .list li button {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #434CCC;
}

/* -----------------contect------------ */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  background-color: #434CCC;
}
.contact h1 {
  width: 249px;
  height: 80px;
  color: #FFFFFF;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
}
.contact p {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 55px;
  font-family: DM Sans;
}

* {
  margin: 0;
}

.footer-1 {
  margin-top: 5rem;
  background-color: #ffdd78;
}
.footer-1 .box {
  width: 80%;
  height: 352px;
  flex-shrink: 0;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
@media all and (max-width: 375px) {
  .footer-1 .box {
    flex-direction: column;
    justify-content: normal;
    gap: 20px;
    width: 80%;
    height: 480px;
  }
}
.footer-1 .box .box-1 h5 {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  margin-top: 79px;
}
.footer-1 .box .box-1 h2 {
  margin-top: 21px;
  height: 128px;
  width: 90%;
  font-family: DM Serif Display;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  margin-top: 21px;
}
@media all and (max-width: 375px) {
  .footer-1 .box .box-1 h2 {
    width: 209px;
    height: 144px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
}
.footer-1 .box .inp {
  margin-top: 132px;
  flex-shrink: 0;
}
@media all and (max-width: 375px) {
  .footer-1 .box .inp {
    width: 346px;
    margin-top: 10px;
  }
}
.footer-1 .box .inp input {
  width: 210%;
  height: 48px;
  border-radius: 5px;
  margin-top: 28px;
  border: 1px solid #dadada;
  background: #fff;
  padding-left: 16px;
}
@media all and (max-width: 375px) {
  .footer-1 .box .inp input {
    width: 80%;
  }
}
.footer-1 .box .inp input ::-moz-placeholder {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-1 .box .inp input ::placeholder {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-1 .box .button {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  color: white;
  border-radius: 5px;
  background-color: #434ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 160px;
}
@media all and (max-width: 375px) {
  .footer-1 .box .button {
    margin-top: 16px;
  }
}

.footer-2 {
  background-color: #f5f6fc;
  width: 100%;
  margin: auto;
  height: 400px;
  flex-shrink: 0;
  padding-left: 20px;
}
@media all and (max-width: 375px) {
  .footer-2 {
    height: 896px;
    flex-shrink: 0;
  }
}
.footer-2 #div-1 {
  display: flex;
  width: 80%;
  gap: 5%;
  margin: auto;
  justify-content: space-between;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.footer-2 #div-1 #div-1-1 {
  width: 33%;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-1 {
    width: 100%;
  }
}
.footer-2 #div-1 #div-1-1 div:nth-child(1) {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-top: 72px;
}
.footer-2 #div-1 #div-1-1 div:nth-child(2) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  font-size: 1em;
  width: 100%;
  flex-shrink: 0;
}
.footer-2 #div-1 #div-1-1 div:nth-child(3) {
  display: flex;
  gap: 13px;
  margin-top: 16px;
}
.footer-2 #div-1 #div-1-2 {
  display: flex;
  gap: 20px;
  width: 33%;
  justify-content: space-around;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-2 {
    display: flex;
    width: 50%;
    justify-content: start;
  }
}
.footer-2 #div-1 #div-1-2 div:nth-child(1),
.footer-2 #div-1 #div-1-2 div:nth-child(2) {
  margin-top: 67px;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-2 div:nth-child(1),
  .footer-2 #div-1 #div-1-2 div:nth-child(2) {
    margin: 80px 50px 0 0;
  }
}
.footer-2 #div-1 #div-1-2 div:nth-child(1) div:nth-child(1),
.footer-2 #div-1 #div-1-2 div:nth-child(2) div:nth-child(1) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-2 #div-1 #div-1-2 div:nth-child(1) div,
.footer-2 #div-1 #div-1-2 div:nth-child(2) div {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 1em;
  margin-top: 8px;
}
.footer-2 #div-1 #div-1-3 {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
  gap: 40px;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-3 {
    width: 100%;
  }
}
.footer-2 #div-1 #div-1-3 div {
  display: flex;
  gap: 20px;
}
.footer-2 #div-1 #div-1-3 div div {
  flex-direction: column;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-3 div {
    margin-left: 0;
  }
}
.footer-2 #div-1 #div-1-3 div img {
  border-radius: 5px;
  width: 78px;
  height: 48px;
}
.footer-2 #div-1 #div-1-3 div > div {
  width: 100%;
}
.footer-2 #div-1 #div-1-3 div > div > div:nth-child(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  margin-bottom: 0;
}
.footer-2 #div-1 #div-1-3 div > div > div:nth-child(2) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.footer-2 > div:nth-child(2) {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.0989;
  background: #000;
  margin-top: 18px;
}
@media all and (max-width: 375px) {
  .footer-2 > div:nth-child(2) {
    width: 125%;
    margin-left: -40px;
  }
}
.footer-2 > div:nth-child(3) {
  padding: 30px 135px;
  display: flex;
  justify-content: space-between;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media all and (max-width: 375px) {
  .footer-2 > div:nth-child(3) {
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 14px;
  }
}/*# sourceMappingURL=styles.css.map */