.renuka {
  background-color: aqua;
  width: 100%;
  height: 200px;
}

.N-main {
  margin-bottom: 80px;
}
.N-main .N-head h2 {
  text-align: center;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}
.N-main .N-head p {
  text-align: center;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 36px;
}
.N-main .N-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 30px;
}
.N-main .N-cards .N-card {
  width: 370px;
  height: 416px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.N-main .N-cards .N-card .N-box {
  width: 132px;
  height: 114px;
  margin-top: 64px;
  margin-left: 119px;
}
.N-main .N-cards .N-card .N-fh {
  text-align: start;
  margin-left: 30px;
}
.N-main .N-cards .N-card .N-fh h4 {
  /* H4 */
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-top: 54px;
}
.N-main .N-cards .N-card .N-fh p {
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: -15px;
}
.N-main .N-cards .N-card .N-fh .N-hr {
  width: 338px;
  height: 1px;
  opacity: 0.1011;
  background: #000;
  margin-top: 25px;
  margin-bottom: 18px;
}
.N-main .N-cards .N-card .N-fh .N-foot p {
  /* Text */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.N-main .N-cards .N-card .N-fh .N-foot img {
  width: 6px;
  height: 11px;
  margin-top: 25px;
  margin-left: 7px;
  fill: #000000;
}

@media all and (max-width: 375px) {
  .N-cards {
    flex-direction: column;
  }
  .N-cards .N-card {
    width: 100%;
  }
  .N-main .N-head h2 {
    font-size: 40px;
    line-height: 48px; /* 120% */
  }
}
.nmn {
  width: 100%;
  background-color: #fff;
}
.nmn .npr {
  margin: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 80%;
  gap: 15px;
  height: 768px;
}
.nmn .npr .n-left {
  line-height: 32px; /* 160% */
}
.nmn .npr .n-left h5 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.nmn .npr .n-left h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
  margin-top: 21px;
  margin-bottom: 29px;
}
.nmn .npr .n-left .ndis {
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.nmn .npr .n-left .niconen p {
  color: gray;
  font-family: "DM Sans";
  display: flex;
  align-content: start;
  align-items: center;
  gap: 23px;
}
.nmn .npr .n-left .nbtn {
  margin-top: 49px;
  font-family: "DM Sans Display";
}
.nmn .npr .n-left .nbtn .nb1 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 5px;
  background-color: #434CCC;
  color: #fff;
  width: 170px;
  height: 48px;
  border: none;
}
.nmn .npr .n-left .nbtn .nb2 {
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid rgba(67, 76, 204, 0.2);
  color: #434CCC;
  border-radius: 5px;
  margin-left: 30px;
  width: 170px;
  height: 48px;
}
.nmn .npr .n-right {
  width: 700px;
  height: 580px;
}
.nmn .npr .n-right img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media all and (max-width: 375px) {
  .npr {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .npr .n-right {
    width: 100%;
  }
  .npr .n-right img {
    margin-left: -170px;
  }
  .npr .nbtn {
    margin: auto;
    display: flex;
  }
  .npr .nbtn .nb1 {
    height: 60px;
    width: 60px;
    font-weight: 200;
    line-height: normal;
  }
  .npr .nbtn .nb2 {
    height: 60px;
    width: 60px;
    font-weight: 200;
    line-height: normal;
  }
}
.sujeet {
  width: 100%;
  height: 500px;
  background-color: yellow;
  font-size: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec2 {
  background-color: #f0f8ff;
}
.sec2 .pr {
  display: flex;
  justify-content: start;
  width: 80%;
  margin: auto;
}
.sec2 .pr .h-left {
  margin-top: 10px;
  max-width: 40%;
  margin: auto;
}
.sec2 .pr .h-left h5 {
  margin-bottom: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3em;
  text-align: left;
  text-transform: uppercase;
}
.sec2 .pr .h-left h2 {
  margin-bottom: 10px;
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .dis {
  color: #000000;
  margin-bottom: 10px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .numb {
  margin-top: 10px;
  display: flex;
  justify-content: start;
  gap: 30px;
}
.sec2 .pr .h-left .numb div {
  margin-top: 10px;
}
.sec2 .pr .h-left .numb div h3 {
  margin-top: 10px;
  font-family: DM Serif Display;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .numb div h4 {
  margin-top: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
.sec2 .pr .h-left .numb div p {
  margin-top: 10px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: gray;
}
.sec2 .pr .h-right {
  max-width: 65%;
  margin: auto;
}
.sec2 .pr .h-right img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
@media all and (min-width: 100px) and (max-width: 375px) {
  .sec2 .pr {
    flex-direction: column;
    max-width: 100%;
    margin: auto;
  }
  .sec2 .pr .h-left {
    max-width: 100%;
  }
  .sec2 .pr .h-left h5 {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3em;
    text-align: left;
  }
  .sec2 .pr .h-left h2 {
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .dis {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .numb {
    flex-direction: column;
  }
  .sec2 .pr .h-left .numb div {
    width: 80%;
  }
  .sec2 .pr .h-left .numb div h3 {
    font-family: DM Serif Display;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .numb div h4 {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-left .numb div p {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }
  .sec2 .pr .h-right {
    max-width: 100%;
    margin: auto;
  }
  .sec2 .pr .h-right img {
    width: 647px;
    height: 431px;
    top: 940px;
    left: -138px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

header {
  position: sticky;
  z-index: 1;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #434CCC;
  color: rgba(255, 255, 255, 0.3019607843);
}
header .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
header .navbar .logo {
  width: 102px;
  /* // height: 48px; */
  color: white;
}
header .navbar .logo img {
  width: 100%;
}
header .navbar .menu-button {
  display: none;
}
@media all and (max-width: 375px) {
  header .navbar .menu-button {
    height: 14px;
    display: block;
    width: 20px;
    color: #FFFFFF;
  }
  header .navbar .nav-list {
    display: none;
  }
}
header .nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  /* //   width:65%;
    height: 100%;
  //   gap:35px;
  //  border: 2px solid green; */
}
header .nav-list .list {
  /* // width: 100%;
      //  border: 2px solid white; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 35px;
  height: 100%;
}
header .nav-list .list li {
  /* // border:2px solid black; */
}
header .nav-list .list li a {
  height: 24px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: none;
  color: white;
}
header .nav-list .list li button {
  width: 170px;
  height: 48px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background-color: #434CCC;
}

* {
  margin: 0;
}

.footer-1 {
  margin-top: 5rem;
  background-color: #FFDD78;
}
.footer-1 .box {
  width: 80%;
  height: 352px;
  flex-shrink: 0;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
@media all and (max-width: 375px) {
  .footer-1 .box {
    flex-direction: column;
    justify-content: normal;
    gap: 20px;
    width: 80%;
    height: 480px;
  }
}
.footer-1 .box .box-1 h5 {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 4.8px;
  margin-top: 79px;
}
.footer-1 .box .box-1 h2 {
  margin-top: 21px;
  height: 128px;
  width: 90%;
  font-family: DM Serif Display;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  margin-top: 21px;
}
@media all and (max-width: 375px) {
  .footer-1 .box .box-1 h2 {
    width: 209px;
    height: 144px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
  }
}
.footer-1 .box .inp {
  margin-top: 132px;
  width: 30%;
  flex-shrink: 0;
}
@media all and (max-width: 375px) {
  .footer-1 .box .inp {
    width: 80%;
    margin-top: 10px;
  }
}
.footer-1 .box .inp input {
  width: 80%;
  height: 48px;
  border-radius: 5px;
  margin-top: 28px;
  border: 1px solid #DADADA;
  background: #FFF;
  padding-left: 16px;
}
@media all and (max-width: 375px) {
  .footer-1 .box .inp input {
    width: 80%;
  }
}
.footer-1 .box .inp input ::-moz-placeholder {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-1 .box .inp input ::placeholder {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer-1 .box .button {
  width: 120px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  color: white;
  border-radius: 5px;
  background-color: #434CCC;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-top: 160px;
}
@media all and (max-width: 375px) {
  .footer-1 .box .button {
    margin-top: 16px;
  }
}

.footer-2 {
  background-color: #F5F6Fc;
  width: 100%;
  height: 400px;
  flex-shrink: 0;
}
@media all and (max-width: 375px) {
  .footer-2 {
    width: 80%;
    margin: auto;
    height: 896px;
    flex-shrink: 0;
  }
}
.footer-2 #div-1 {
  display: flex;
  width: 80%;
  gap: 5%;
  margin: auto;
  justify-content: space-between;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.footer-2 #div-1 #div-1-1 {
  width: 33%;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-1 {
    width: 100%;
  }
}
.footer-2 #div-1 #div-1-1 div:nth-child(1) {
  color: var(--Text_Black, #000);
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-top: 72px;
}
.footer-2 #div-1 #div-1-1 div:nth-child(2) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  font-size: 1em;
  width: 100%;
  flex-shrink: 0;
}
.footer-2 #div-1 #div-1-1 div:nth-child(3) {
  display: flex;
  gap: 13px;
  margin-top: 16px;
}
.footer-2 #div-1 #div-1-2 {
  display: flex;
  gap: 20px;
  width: 33%;
  justify-content: space-around;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-2 {
    display: flex;
    width: 50%;
    justify-content: start;
  }
}
.footer-2 #div-1 #div-1-2 div:nth-child(1),
.footer-2 #div-1 #div-1-2 div:nth-child(2) {
  margin-top: 67px;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-2 div:nth-child(1),
  .footer-2 #div-1 #div-1-2 div:nth-child(2) {
    margin: 80px 120px 0 0;
  }
}
.footer-2 #div-1 #div-1-2 div:nth-child(1) div:nth-child(1),
.footer-2 #div-1 #div-1-2 div:nth-child(2) div:nth-child(1) {
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 16px;
}
.footer-2 #div-1 #div-1-2 div:nth-child(1) div,
.footer-2 #div-1 #div-1-2 div:nth-child(2) div {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 1em;
  margin-top: 8px;
}
.footer-2 #div-1 #div-1-3 {
  display: flex;
  flex-direction: column;
  margin-top: 79px;
  width: 33%;
  gap: 40px;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-3 {
    width: 100%;
  }
}
.footer-2 #div-1 #div-1-3 div {
  display: flex;
  gap: 20px;
}
@media all and (max-width: 375px) {
  .footer-2 #div-1 #div-1-3 div {
    margin-left: 0;
  }
}
.footer-2 #div-1 #div-1-3 div img {
  border-radius: 5px;
  width: 78px;
  height: 48px;
}
.footer-2 #div-1 #div-1-3 div > div {
  width: 100%;
}
.footer-2 #div-1 #div-1-3 div > div > div:nth-child(1) {
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}
.footer-2 #div-1 #div-1-3 div > div > div:nth-child(2) {
  margin-top: 1px;
  color: var(--Text_Black, #000);
  font-family: DM Sans;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.footer-2 > div:nth-child(2) {
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.0989;
  background: #000;
  margin-top: 55px;
}
@media all and (max-width: 375px) {
  .footer-2 > div:nth-child(2) {
    width: 125%;
    margin-left: -40px;
  }
}
.footer-2 > div:nth-child(3) {
  padding: 30px 135px;
  display: flex;
  justify-content: space-between;
  color: var(--text-black-50, rgba(0, 0, 0, 0.5));
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media all and (max-width: 375px) {
  .footer-2 > div:nth-child(3) {
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 14px;
  }
}/*# sourceMappingURL=styles.css.map */