
.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;

}

.input-group:hover .search-dropdown {
  display: block;
  background-color: aliceblue;
  color: #121212;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
width: 570px;
}


.nav-item.dropdown .nav-link {
  text-decoration: none;
  position: relative;

}

.nav-item.dropdown .nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f51283d4; /* Change the color as needed */
  left: 0;
  bottom: 0;
  transition: width 0.7s ease;
}

.nav-item.dropdown .nav-link:hover:after {
  width: 100%;
}

.hoverable-dropdown:hover .dropdown-menu {
  display: flex !important;
}

.dropdown-menu.flex-content {
  display: none;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flex-content .col {
  width: 500px;
  margin: 5px;
}

/* Adjusted font size for the list items */
.flex-content ul {
  font-size: 12px; /* You can adjust this size */
 
}

/* Change heading to h6 */
.flex-content h5 {
  font-size: 18px; /* You can adjust this size */
}

/* Hide the dropdown icon */
.navbar-toggler {
  display: none;
}
.R-list>li{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

width: 90px;
text-align: center;
}

/* -----------chandan  start-------- */

  /* --------chandan start ----------- */
  #ibg {
    background-image: url(./images/PageBackGroundTexture-black.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:988px;
    font-family: "Roboto",sans-serif;
    font-weight: 700;
  }
  #ch-carousel{
    /* background-color: yellow; */
    width:80%;
 
  }
 
 
 
  #ch-carousel>.carousel-inner>.carousel-item>.row>.col>.card{
   
    width: 100%;
    height: 528px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
   /* padding: 20px; */
  }
  #ch-carousel>.carousel-control-prev{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 40%;
    left: -5%;
  }
  #ch-carousel>.carousel-control-prev:hover{
    border: 2px solid red;
    
  }
  #ch-carousel>.carousel-control-next{
    background-color: black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    top: 40%;
    right:-5%;
  }
  #ch-carousel>.carousel-control-next:hover{
    border: 2px solid red;
    
  }
  #ch-carousel>.carousel-inner>.carousel-item>.row>.col>.card>img{
    border-radius:20px;
    width:166px;
    height: 222px;
  }
 
   
  
  .fa-heart {
    border: 1px solid;
    padding: 8px 7px;
    border-radius: 8px;
  
  }
  
  .ch_price p {
    font-size: 14px;
    text-decoration: line-through;
    color:#6c757d;
  }
  
  .ch_price h5 {
    font-size: 18px;
   color:#000;
  }
  .ch_price>h6>span{
    color:#fc2779;
    font-size: 14px;
    font-weight: 700;
  }
  #ch-carousel>.carousel-inner>.carousel-item>.row>.col>.card>.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  }
  #ch-carousel>.carousel-inner>.carousel-item>.row>.col>.card>.card-body>.card-text{
    color: #212121;
   
  }
 /*
  .ch-icon-btn>span{
    font-size: 45px; 
  }
  */
  /* .ch-icon-btn>button{
    font-size: 14px;
    background-color: #000;
    color: #fff;
    color: red;
   } */
  

   /* ----chandan end----------- */
 

/* --------------chandan end----------- */
